<div class="row justify-content-md-center pt-3">
    <div class="col-md-5">

    <div class='card'>
      <h5 class='card-header py-3'>
        Login
      </h5>
      <div class='card-body'>

        <form id="login-form" >
            <div class="mb-3">
                <label class="pb-2" for="username-input-login">Username</label>
                <input type="text" class="form-control" id="username-input-login" placeholder="Enter username">
            </div>
            <div class="mb-3">
                <label class="pb-2" for="password-input-login">Password</label>
                <input type="password" class="form-control" id="password-input-login" placeholder="Password">
            </div>
            <button type="submit" id="login-btn" class="btn btn-primary">Login</button>
        </form>
    </div>
                  <div class='card-footer bg-transparent border'>
          <p class="pb-1">If you don't have an account, you can create one. </p>
    <a class="btn btn-info" href="/signup">Register</a>
          </button>
        </div>
</div>        
    </div>
</div>

<script src="/js/login.js"></script>